**1. What is the question you hope to answer? **
What attributes most predict someone to have survived the sinking of the Titanic?

This is the "Titanic: Machine Learning from Disaster" competition from Kaggle (https://www.kaggle.com/c/titanic). 

**2. What data are you planning to use to answer that question?** 
The dataset provided by the Keggle competition, with 891 passengers in the training set (train.csv).  

**3. What do you know about the data you're using so far?** 
The following is provided in the data desciption for the competition: 
    
    ***Data Description***
    *Variable	Definition	Key*
    survival	Survival	0 = No, 1 = Yes
    pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
    sex	Sex	
    Age	Age in years	
    sibsp	# of siblings / spouses aboard the Titanic	
    parch	# of parents / children aboard the Titanic	
    ticket	Ticket number	
    fare	Passenger fare	
    cabin	Cabin number	
    embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton
    
    *Variable Notes*
    pclass: A proxy for socio-economic status (SES)
    1st = Upper
    2nd = Middle
    3rd = Lower

    age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

    sibsp: The dataset defines family relations in this way...
    Sibling = brother, sister, stepbrother, stepsister
    Spouse = husband, wife (mistresses and fianc√©s were ignored)

    parch: The dataset defines family relations in this way...
    Parent = mother, father
    Child = daughter, son, stepdaughter, stepson
    Some children travelled only with a nanny, therefore parch=0 for them.

The results of some quick eda are below:

In [4]:
import pandas as pd
import numpy as np

trainData  = pd.read_csv("../data/train.csv")
trainData.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [22]:
print 'dataframe shape:'
print trainData.shape
print 'confirm unique passenter Ids:'
print trainData.PassengerId.unique().shape
print 'check survival values:' 
print trainData.Survived.unique()

dataframe shape:
(891, 12)
confirm unique passenter Ids:
(891L,)
check survival values:
[0 1]

**4. Why did you choose this topic?**
The question is interesting enough, and is a good introduction to machine learning.  While there are more interesting competitions, I don't have the skills yet to do them.